root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true

[*.{py,sh,scss}]
indent_style = space
indent_size = 4

[{circle.yml,*.yml,*.js,*.json}]
indent_style = space
indent_size = 2
